<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecotec Signature</title>
</head>

<body>
    <table cellpadding="0" cellspacing="0" border="0"
        style="width: 500px; height: auto; border-radius: 10px; box-sizing: border-box; font-family: Arial, sans-serif;">
        <tr>
            <td colspan="2" style="padding-bottom: 12px;">
                <p style="margin: 0; font-size: 16px;"><strong>Thanks & Best regards,</strong></p>
                <hr style="margin-top: 6px; width: 24px; height: 2px; background-color: #000; border: none;"
                    align="left" />
            </td>
        </tr>
        <tr>
            <td style="width: 15%; vertical-align: top; padding-right: 12px;">
                <a href="https://tecotecoes.com.vn/?utm_source=email&utm_medium=signature&utm_campaign=contact_signature"
                    target="_blank" style="display: block; width: 96px;">
                    <img src="./images/icons/TECOTEC-OES.png" alt="TecotecOES Logo"
                        style="display: block; object-fit: fill; width: 100%;" />
                </a>
            </td>

            <td style="width: 85%; padding-left: 12px; border-left: 0.5px solid #146EB4; vertical-align: top;">
                <p style="margin: 0 0 6px; font-size: 14px;"><strong>{{name}}</strong> / {{position}}</p>
                <p style="margin: 4px 0; font-size: 14px;">
                    <a href="mailto:{{email}}" style="text-decoration: none !important; color: black;">
                        Email: {{email}}
                    </a>
                </p>

                <p style="margin: 4px 0; font-size: 14px;">
                    <a href="tel:{{phone}}" style="text-decoration: none !important; color: black;">
                        Phone: {{phone}}
                    </a>
                </p>

                <hr style="height: 1px; background: #146EB4; border: none; margin: 6px 0;" />

                <p style="font-weight: bold; margin: 6px 0 0; font-size: 14px; color: #FF9900;">TECOTEC OPTRONICS EQUIPMENT & SOLUTIONS</p>

                <p style="margin: 6px 0 4px; font-size: 14px;">
                    <span style="color: #146EB4; font-weight: bold;">Head Office:</span>
                    <span style="font-size: 14px;">3rd Floor, CT3A Building, Me Tri Thuong,<br>
                        Tu Liem Ward, Ha Noi City, Vietnam</span>
                </p>

                <p style="margin: 4px 0; font-size: 14px;">
                    <a href="tel:+842432123008" style="text-decoration: none !important; color: black;">
                        Tel: +84 243 212 3008
                    </a>
                    <a href="tel:+84393637693" style="text-decoration: none !important; color: black;">
                        / Hotline: +84 39 363 7693
                    </a>
                </p>

                <p style="margin: 4px 0; font-size: 14px;">
                    <a href="mailto:oes@tecotec.com.vn" style="text-decoration: none !important; color: black;">
                        Email: oes@tecotec.com.vn
                    </a>
                </p>

                <p style="margin: 4px 0; font-size: 14px;">
                    <a href="https://tecotecoes.com.vn" target="_blank" style="text-decoration: none !important; color: black;">Official website: tecotecoes.com.vn</a> /
                    <a href="https://tecotec.com.vn" target="_blank" style="text-decoration: none !important; color: black;">tecotec.com.vn</a>
                </p>

                <p style="margin: 4px 0 0;">
                    <a href="https://www.facebook.com/TecotecGroupJsc" target="_blank"
                        style="display: inline-block; margin-right: 8px;">
                        <img src="./images/icons/Fb.png" width="28" height="28"
                            style="border-radius: 50%; display: block;" alt="Facebook" />
                    </a>&nbsp;
                    <a href="https://www.linkedin.com/company/tecotec-group/" target="_blank"
                        style="display: inline-block; margin-right: 8px;">
                        <img src="./images/icons/icon-linkedin.png" width="28" height="28"
                            style="border-radius: 50%; display: block;" alt="LinkedIn" />
                    </a>&nbsp;
                    <a href="https://www.youtube.com/tecostorevn" target="_blank"
                        style="display: inline-block; margin-right: 8px;">
                        <img src="./images/icons/icon-youtube.png" width="28" height="28"
                            style="border-radius: 50%; display: block;" alt="YouTube" />
                    </a>&nbsp;
                    <a href="https://zalo.me/4313596141196632335" target="_blank" style="display: inline-block;">
                        <img src="./images/icons/icon-zalo.png" width="28" height="28"
                            style="border-radius: 50%; display: block;" alt="Zalo" />
                    </a>

                </p>
            </td>
        </tr>
    </table>
</body>

</html>